<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_dumbbells"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_dumbbells"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.Actitivities.ChangeInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.Actitivities.WeightChartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.Actitivities.ExercisesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.Actitivities.IconActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main.Actitivities.BasicActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.Actitivities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.Actitivities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>